.pointer{
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .info-cards{
        min-height: 300px ;
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .info-cards{
        min-height: 200px ;
    }
}
@media screen and (max-width: 799px) {
    .info-cards{
        min-height: 200px ;
    }
}