<div class="wrapper">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h2>About the topic</h2>
          <h4>
            <p>The architecture of any software is a blueprint about its structure. The blueprint is the end artifact generated based on a series of decisions taken by software architects and decides the overall quality of the resultant software. Software architects, being human, are invariably subject to the influence of cognitive biases during their decision-making. Cognitive biases do not always have a negative impact, but they do result in a systematic deviation from the ideal decision-making process. This results in missing rationality behind decisions leading to designing of sub-par solutions.</p>
            <p>This work focuses on identifying and formalizing decision-making process models in the context of software architecture design decisions. Three models were investigated in detail: <i>rational-economic</i>, <i>bounded rational</i> and <i>recognition primed models</i>. The steps in each model were mapped with the OODA Loop (Observe, Orient, Decide and Act) decision cycle. Furthermore, different types of cognitive biases were classified into the phases of the OODA Loop and catalogue containing detailed information about the biases was produced.</p>
          </h4>
        </div>
        <div class="col-xl-6 col-lg-6">
          <h2>How to proceed?</h2>
          <h4>
            <p>Firstly, gain an understanding of the OODA loop and how it is related to <a [routerLink]="['/decisionprocess']"><i>decision-making</i></a>. Next, proceed to learn about the three different decision-making models – <i>rational-economic</i>, <i>bounded rational</i> and <i>recognition primed models</i>.  Understand the connectivity between the OODA Loop and the decision-making process models.</p>
            <p>Next, move on to the <a [routerLink]="['/bias']"><i>bias catalogue</i></a>. The entire catalogue might prove to be too extensive to read thoroughly in the first attempt. Therefore, we suggest readers to be familiar with the bias listing and classifications to get an initial idea. Additionally, being familiar with the definitions of the biases is helpful especially since the names of many biases are deceptive to its actual meaning.</p>
            <p>During the actual decision-making, establish the current state clearly and understand which phase of the OODA loop it falls into. Afterwards, read the biases related to the phase in depth from the catalogue to be aware of it to reduce or eliminate the impact of the biases.</p>
          </h4>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:2%;">
      <div class="text-center">
        <h4><i>Don't forget to provide us your valuable <strong><a [routerLink]="['/feedback']" style="text-decoration: underline;">feedback</a></strong> so that we can improve on the existing work.</i></h4>
      </div>
    </div>
  </div>
</div>